<section ng-controller="HomeController">
  <header>
      <section class="hero">
        <div class="texture-overlay"></div>
        <div class="container">
          <div class="row nav-wrapper">
            <div class="col-md-6 col-md-offset-2 col-sm-6 col-xs-6 text-left">
              <a href="#"><img width="700px" src="modules/core/client/img/brand/logo2.png" alt="AddTrix logo"></a>
            </div>
            
          </div>
          <div class="row hero-content">
            <div class="col-md-12 col-md-offset-2 ">
            <div class="col-md-12 col-md-offset-0 ">
              <h2 class="animated fadeInDown">  Find best, unique ad-spaces and reach more targeted customers. </h2>
              </div>
              <div class="col-md-12 col-md-offset-1  ">
              <a href="/unique" class="use-btn animated fadeInUp">Unique spaces</a> <a href="#about" class="learn-btn animated fadeInUp">How It Works <i class="fa fa-arrow-down"></i></a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </header>
    <section class="video" id="about">
      <div class="container">
        <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h1>Welcome to AddTrix</h1>
                    <p>AddTrix mission is to "Make the targeted advertising simple by
                      opening up more creative ad-spaces around the world". people are everywhere but ad-space are not that creative to reach people. We at Addtrix are working towards to make the world more creative.  </p>
                      </div>
          <div class="col-md-12 text-center">

            <h1>How it works</h1>
             <div class="col-md-8 col-md-offset-2 text-center">

            <div class="features-slider">
                <ul class="slides" id="featuresSlider">
                  <li>
                  
                    <h1> Building a Community</h1>
                    <p>It all began when co-founder of a hyperlocal delivery startup looking for more revenue inspite of increasing delivery service charges to his clients. So he started providing advertising sevice with his delivery startup by distributing coupens to targeted customers. It increased the revenue eventually. He wanted everyone should feel the same feeling when the revenue is increased, and with less marketing effort, reaching very targeted customers by click of button. </p>
                    
                  
                  </li>
                  
                  
                </ul>
            </div>
          </div>
          <div class="col-md-8 col-md-offset-2 text-center">

            <div class="features-slider">
                <ul class="slides" id="featuresSlider">
                  <li>
                  
                    <h1>List and Book</h1>
                    <p> People are encouraged to list their ad-space and increase their revenue. and Companies/Individuals are encouraged to market their brand. with less efort reach more targeted customers. With AddTrix analyse more data points on ad-space, and find the best suitable ad-space.</p>
                    
                  
                  </li>
                  
                  
                </ul>
            </div>
          </div>
          <div class="col-md-8 col-md-offset-2 text-center">

            <div class="features-slider">
                <ul class="slides" id="featuresSlider">
                  <li>
                  
                    <h1> Service that you can Trust</h1>
                    <p> We are always engaged to improve the trust factors in AddTrix community. By verifying each and every listing personaly, and helping with the requirements of owner and customer.   </p>
                    
                    
                  </li>
                  
                  
                </ul>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>
    <section class="features-intro">
      <div class="container-fluid">
        <div class="row">
          
         

        </div>
      </div>
    </section>
   
  
     <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <h1 class="footer-logo">
            <img src="img/logo-blue.png" alt="ADDTRIX">
            </h1>
            <p>© ADDTRIX 2016 - Ashok Raj Productions</p>
          </div>
          <div class="col-md-7">
            <ul class="footer-nav">
              <li><a href="#about">About</a></li>
              <li><a href="#">Corporate Office </a><br/>T-Hub, IIIT-Hydrabad<br/> Gachibowli<br/> Hyderabad District<br/>Telangana, india</li>
         
            </ul>
          </div>
        </div>
      </div>
    </footer>
</section>
