
    <section class="video" id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">

            <h1>Unique Spaces</h1>
             
          <div class="col-md-8 col-md-offset-2 text-center">

            <div class="features-slider">
                <ul class="slides" id="featuresSlider">
                  <li>
                  
                    <h1>TINMEN</h1>
                    <div class="col-md-8 ">
                    <p>TINMEN is office food delivery startup. They have 500 repeated customers in cyberabad area. most of their customers are software employees. they offer a unique ad-space, which is their food packing covers.</p>
                    </div>
                    <div class="col-md-4 ">
                    <img src="./modules/core/client/img/unique/tinmen.jpeg">
                    </div>
                  
                  </li>
                  
                  
                </ul>
            </div>
          </div>
          <div class="col-md-8 col-md-offset-2 text-center">

            <div class="features-slider">
                <ul class="slides" id="featuresSlider">
                  <li>
                  
                    <h1>HAZZEL</h1>
                    <div class="col-md-4 ">
                    <img src="./modules/core/client/img/unique/hazzel.png">
                    </div>
                    <div class="col-md-8 ">
                    <p></p>
                    </div>
                    
                    
                  
                  </li>
                  
                  
                </ul>
            </div>
          </div>
          <div class="col-md-8 col-md-offset-2 text-center">

            <div class="features-slider">
                <ul class="slides" id="featuresSlider">
                  <li>
                  
                    <h1>WESHUTL</h1>
                    <div class="col-md-8 ">
                    <p>WeShtul is a hyper local delivery service provider. They have unique customer base of 200 customers everyday. Most of the customers are food lovers and order their food online. they offered a unique ad-space. which is distribution of flyers and coupen codes.</p>
                    </div>
                    <div class="col-md-4 ">
                    <img src="">
                    </div>
                    
                  
                  </li>
                  
                  
                </ul>
            </div>
          </div>
          <div class="col-md-8 col-md-offset-2 text-center">

            <div class="features-slider">
                <ul class="slides" id="featuresSlider">
                  <li>
                  
                    <h1>T-HUB</h1>
                   <div class="col-md-4 ">
                    <img src="./modules/core/client/img/unique/t-hub.jpg">
                    </div>
                    <div class="col-md-8 ">
                    <p>T-hub is a startup community and co-working space. Mostly t-hub members are startups, but they have on-board guests who are investors. and t-hub offers their TV network as a space. and entrance of t-hub also.</p>
                    </div>
                    
                    
                  </li>
                  
                  
                </ul>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>
    <section class="features-intro">
      <div class="container-fluid">
        <div class="row">
          
         

        </div>
      </div>
    </section>
   
  
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <h1 class="footer-logo">
            <img src="img/logo-blue.png" alt="ADDTRIX">
            </h1>
            <p>© ADDTRIX 2016 - Ashok Raj Productions</p>
          </div>
          <div class="col-md-7">
            <ul class="footer-nav">
              <li><a href="#about">About</a></li>
              <li><a href="#">Corporate Office </a><br/>T-Hub, IIIT-Hydrabad<br/> Gachibowli<br/> Hyderabad District<br/>Telangana, india</li>
         
            </ul>
          </div>
        </div>
      </div>
    </footer>
</section>
